<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h4>
      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control",required: true %>
  </div>

  <div class="form-group">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control",required: true %>
  </div>

  <div class="form-group">
    <%= form.label :company_id, "Company", class: "form-label" %>
    <%= form.collection_select :company_id, Company.all, :id, :name, { prompt: "Select Company" }, { class: "form-control",required: true } %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

