<h1>Employees</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td>
          <%= link_to 'View', employee_path(employee), class: "btn btn-sm btn-info" %> |
          <%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-sm btn-warning" %> |
          <%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Employee', new_employee_path,class: "btn btn-sm btn-info" %>
