<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h4>
      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control",required: true %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

